<div class="row">
  <div class="col-md-6">
    <h4>Pills</h4>
  </div>
  <div class="col-md-6 d-flex flex-row-reverse">
    <a href="create" class="btn btn-primary" role="button">Add</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Key</th>
          <th scope="col">Order</th>
          <th scope="col">Content</th>
          <th scope="col">Used</th>
          <th scope="col">Box</th>
          <th scope="col">Created At</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each pills}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.key}}</td>
            <td>{{this.order}}</td>
            <td>{{this.content}}</td>
            <td>{{this.used}}</td>
            <td>{{this.box}}</td>
            <td>{{this.createdAt}}</td>
            <td class="text-center">
              <a href="pill/edit/{{this._id}}" type="button" class="btn btn-link">Edit</a>
              <a type="button" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#deleteModal"
                class="btn btn-link">Delete</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete, you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
        <button id="btnSureDelete" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete form --}}
<form id="deleteForm" class="col-md-6" method="POST" action=""></form>

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
<script>
  $(document).ready(function() {
    let id = ""
    $('#deleteModal').on('show.bs.modal', function(event) {
      let button = event.relatedTarget
      id = button.getAttribute('data-id')
    })

    $("#btnSureDelete").on('click', function() {
      $("#deleteForm").prop('action', `/pill/${id}?_method=DELETE`)
      $("#deleteForm").trigger( "submit" )
    })
  })
</script>